body{
  margin:0px;
}

.menu {
  position: fixed;
  background-color: black;
  overflow: hidden;
  width:100%;
  top: 0px;
  left:0px;
  z-index: 1000;
  border-bottom: 1px solid black;
  flex-direction: column;
}

.menu a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.menu a:hover {
  background-color: lightgray;
  color: black;
}

.menu a.selected {
  background-color: white;
  color: black;
}

.content {
  padding: 4em 1em;
  position: relative;
  top: 20px;
  margin: 0 auto;
  max-width: 60em;
  font-family: 'Helvetica', 'Ariel', sans-serif;
  font-size: 120%;
}

.footer {
  background-color: black;
  overflow: hidden;
  width:100%;
}

.footer p {
  font-size: 12px;
  padding: 0px 0px 0px 0px;
  text-align: center;
  color: lightgray;

}